<div class="show-content">

  <div class="cocktail_header" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @cocktail.photo %>')">

    <h1 class="text-white"><%= @cocktail.name.downcase %></h1>
    <p class="text-white"> <%= @cocktail.description %></p>
    <%= link_to cocktail_path(@cocktail.id), method: :delete do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </div>

  <div class="cocktail_doses">
    <h2>ingredients</h2>
    <% @cocktail.doses.each  do |dose| %>
    <strong><%= dose.ingredient.name.downcase %></strong> &nbsp;-&nbsp;
    <%= dose.description %> <%= link_to dose_path(dose.id), method: :delete do %>
      <i class="fas fa-trash-alt"></i>
      <% end %>
    <% end %>
    <%= render '/doses/form' %>
  </div>

  <div class="back_home">
  <%= image_tag "https://media.giphy.com/media/D3GcOi536uBS8/giphy.gif", alt: "Mixologic", width: 200 %>
  <%= link_to "baby come back", cocktails_path %>
  </div>

</div>
